<div class="wrap">
  <div class="row">
    <button mat-raised-button color="primary" (click)="onAdd()">
      <i class="fa fa-plus"></i>&nbsp;Add
    </button>
  </div>
  <div class="row example-container mat-elevation-z8" style="margin-top: 20px">
    <mat-table #table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.no}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> LastName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef> PhoneNumber </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element" align="start"> {{element.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateofBirth">
      <mat-header-cell *matHeaderCellDef> DateofBirth </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateofBirth}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="service">
      <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.service}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="measuring">
        <mat-header-cell *matHeaderCellDef> Measuring </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary">
                <i class="fa fa-2x fa-thermometer-half" aria-hidden="true"></i>
            </button>
            <button mat-icon-button color="primary">
                <i class="fa fa-2x fa-balance-scale" aria-hidden="true"></i>
            </button>
            <button mat-icon-button color="primary">
                <i class="fa fa-2x fa-heartbeat" aria-hidden="true"></i>
            </button>
            
        </mat-cell>
      </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button mat-mini-fab color="accent" (click)="onEdit(element.no)"><i class="fa fa-edit"></i></button>
          <button mat-mini-fab color="warn" (click)="onRemove(element.no)"><i class="fa fa-trash"></i></button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
  </div>
</div>
<!--
firstName: string;
lastName: string;
phoneNumber: string;
email: string;
gender: string;
dateofBirth: string;
address: string;
service: string;
bloodPressures: BloodPressure[];
weights: Weight[];
temperatures: Temperature[]; -->