<nav class="sidebar">
    <ul class="list-group">
        <a  class="list-group-item" (click)="onClients()">
            <i  class="fa fa-fw fa-user-o"></i>&nbsp;&nbsp;Clients
        </a>
        <a  class="list-group-item" (click)="onCarers()">
            <i class="fa fa-fw fa-user-md"></i>&nbsp;&nbsp;Carers
        </a>
        <a  class="list-group-item" (click)="onPlanning()">
            <i class="fa fa-fw fa-calendar-o"></i>&nbsp;&nbsp;Planning
        </a>
        <a  class="list-group-item" (click)="onReports()">
            <i class="fa fa-fw fa-area-chart"></i>&nbsp;&nbsp;Reports
        </a>
        <a  class="list-group-item" (click)="onBilling()">
            <i class="fa fa-fw fa-th-list"></i>&nbsp;&nbsp;Billing
        </a>
        <a  class="list-group-item" (click)="onAccount()">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;&nbsp;Account
        </a>
        <a  class="list-group-item" (click)="onLogout()">
            <i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;Logout
        </a>
        
    </ul>
</nav>
