<h2 mat-dialog-title style="padding: 10px">{{dialogTitle}}</h2>
<mat-dialog-content>
<form class="example-form" [formGroup]="form">

      <mat-form-field class="example-full-width" >
        <input matInput placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="form.controls['firstName'].invalid">{{fnameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" formControlName="lastName" required>
          <mat-error *ngIf="form.controls['lastName'].invalid">{{lnameError()}}</mat-error>
        </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="PhoneNumber" formControlName="phoneNumber" type="number" required>
          <mat-error *ngIf="form.controls['phoneNumber'].invalid">{{phoneNumberError()}}</mat-error>

      </mat-form-field>

      
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="form.controls['email'].invalid">{{emailError()}}</mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width" >
          <mat-select placeholder="Select Gender" formControlName="gender" required>
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['gender'].invalid">{{genderError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="dp3" placeholder="DateofBirth" readonly formControlName="dateofBirth" required>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          <mat-error *ngIf="form.controls['dateofBirth'].invalid">{{dateofBirthError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Address" formControlName="address" required>
          <mat-error *ngIf="form.controls['address'].invalid">{{addressError()}}</mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Service" formControlName="service" required>
          <mat-error *ngIf="form.controls['service'].invalid">{{serviceError()}}</mat-error>
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>No</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button type="button" mat-raised-button [mat-dialog-close]="true" color="accent" [disabled]="!form.valid">Yes</button>
</mat-dialog-actions>