<div class="form">
  <div class="row justify-content-end" >
    <button 
      style=
      "background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;"
      (click)="onClose()"
      type="button"
      >
      <i class="fa fa-close fa-4x" style="color: white;"></i>
    </button>
  </div>
  <ul class="tab-group" style="padding-top: 50px">
    <li class="tab active"><a href="#signup">Sign Up</a></li>
    <li class="tab"><a href="#login">Log In</a></li>
  </ul>
  <div class="tab-content">
    <div id="signup">   
      <h1>Sign Up for Free</h1>
      <form (ngSubmit)="onSignup()" [formGroup]="form">
        <div class="form-group top-row" >
          <div class="field-wrap">
            <label>
              First Name<span class="req">*</span>
            </label>
            <input required autocomplete="off" class="form-control" formControlName="firstName"/>
            <small *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched" class="form-message text-danger">You must include a first name.</small>
            <small *ngIf="form.controls['firstName'].hasError('minlength') && form.controls['firstName'].touched" class="form-message text-danger">Your first name must be at least 1 character long.</small>
            <small *ngIf="form.controls['firstName'].hasError('maxlength') && form.controls['firstName'].touched" class="form-message text-danger">Your first name cannot exceed 10 characters.</small>
          </div>
          <div class="field-wrap">
            <label>
              Last Name<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off" class="form-control" formControlName="lastName"/>
            <small *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched" class="form-message text-danger">You must include a first name.</small>
            <small *ngIf="form.controls['lastName'].hasError('minlength') && form.controls['lastName'].touched" class="form-message text-danger">Your first name must be at least 1 character long.</small>
            <small *ngIf="form.controls['lastName'].hasError('maxlength') && form.controls['lastName'].touched" class="form-message text-danger">Your first name cannot exceed 10 characters.</small>
          </div>
        </div>
        <div class="form-group field-wrap">
          <label>
          Email Address<span class="req">*</span>
          </label>
          <input type="email"required autocomplete="off" class="form-control" formControlName="email"/>
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">You must include an email address.</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">You must include a valid email address.</small>
        </div>
        <div class="field-wrap">
          <label>
          Set A Password<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off" class="form-control" formControlName="password"/>
          <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-message text-danger">You must include password.</small>
          <small *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="form-message text-danger">Password must be at least 5 character long.</small>
          <small *ngIf="form.controls['password'].hasError('maxlength') && form.controls['password'].touched" class="form-message text-danger">Password name cannot exceed 10 characters.</small>
        </div>
        <button type="submit" class="button button-block">Get Started</button>
      </form>
    </div>
    <div id="login">   
      <h1>Welcome Back!</h1>
      <form (ngSubmit)="onSignin()" [formGroup]="form">
        <div class="field-wrap">
          <label>
          Email Address<span class="req">*</span>
          </label>
          <input type="email"required autocomplete="off" class="form-control" formControlName="email"/>
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">You must include an email address.</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">You must include a valid email address.</small>
        </div>
        <div class="field-wrap">
          <label>
          Password<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off" class="form-control" formControlName="password"/>
          <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-message text-danger">You must include password.</small>
          <small *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="form-message text-danger">Password must be at least 5 character long.</small>
          <small *ngIf="form.controls['password'].hasError('maxlength') && form.controls['password'].touched" class="form-message text-danger">Password name cannot exceed 10 characters.</small>
        </div>
        <button class="button button-block">Log In</button>
      </form>
    </div>
  </div>
</div>